<h1>Angular Tutorial</h1>
<!-- {{title}} -->
<!-- <h2>{{names}}</h2> -->
 <!-- <app-user-list></app-user-list> -->
  <!-- <app-login></app-login>
  <app-signup></app-signup> -->

<!-- 
<button (click)="getName('Bravo')">Click for name</button>   -->

<!-- Click event for button -->
 <!-- <button (click)="clickEvent('This is click event')">Click here</button>
<br><br> -->

 <!-- keyup event -->
  <!-- <input type="text" #box (keyup.enter)="clickEvent(box.value)" >
   <br><br> -->

  <!-- mouseover -->
<!-- <div style="background-color: violet;" (mouseover)="clickEvent('Mouse over event')">
    
    <h2>Mouseover</h2>
</div>    -->

<!-- mouseleave -->
 <!-- <div style="background-color: aliceblue;" (mouseleave)="clickEvent('Mouse leave event')">
    <h2>Mouseleave</h2>
 </div> -->

 <!-- Property Binding -->
<input type="text" [disabled]="disableBox" [value]= name #box (keyup.enter)="printEvent(box.value)">
<br><br>    

<!-- Interpolation -->
 <input type="text" disabled={{disableBox}} value={{name}}>

 <br><br>
 <button (click)="enableBox()">Enable</button>